<div layout="column" flex ng-cloak ng-init="vm.init()">
    <div layout="row" layout-align="center center" flex class="ws-bg banner">
        <section id="topo" class="wrapper" flex layout="column">

            <div layout-gt-sm="row" layout-xs="column" layout-align="space-between center">
                <div flex flex-order="2" layout="column" layout-align="start start" layout-align-xs="start center" class="auto-socorro">
                    <h2>
                        Auto socorro 24Horas
                    </h2>
                    <p>
                        <span class="highlight-1" style="font-weight: 600;">(11) 97441-7607</span>
                    </p>
                    <p class="texto">
                        Transporte ou remoção de automóveis novos, quebrados ou batidos.
                    </p>
                </div>

                <div flex flex-order-xs="-1" layout="row" layout-align="center center" layout-align-xs="center center">
                    <video id="guga-guincho-video" loop> <!-- autoplay muted controls -->
                        <source src="assets/video/guga-guincho.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <div class="expand-more" layout="row" layout-align="center center" layout-padding>
                <!--
                <md-button class="md-fab" aria-label="Descer" ng-click="vm.gotoAnchor('init')">
                    <md-icon>arrow_downward</md-icon>
                    <md-tooltip>Continuar</md-tooltip>
                </md-button>
                -->
            </div>
        </section>
    </div>

    <!--
    <div layout="row" layout-align="center center" flex class="content-init">
        <section id="init" class="wrapper" flex layout="row" layout-sm="column" layout-xs="column" layout-align="center start">
            <div flex-gt-sm="70" layout-align="center center" class="content">
                <h2>Quem somos</h2>
                <p>
                    O Guga Guincho é uma empresa brasileira especializada em Excepteur nulla enim non nulla duis..
                </p>
                <div layout="row" layout-align="center">
                    <md-button class="md-accent" ng-click="vm.gotoAnchor('produto')">
                        <md-icon>expand_more</md-icon>
                        Saiba mais
                    </md-button>
                </div>
            </div>
        </section>
    </div>
    -->

    <div layout="row" layout-align="center center" flex class="default content-produto bg-accent">
        <section id="produto" class="wrapper" flex layout="column" layout-align="start center" layout-align-xs="center center">
            <div layout-gt-sm="column">
                <div flex layout="column" layout-align="center center" layout-align-xs="center center">
                    <h2 anima-data="top">Serviços</h2>
                    <!--
                    <p class="sub-titulo">
                        Quis esse dolor labore in aliquip labore esse sit do qui do id anim.
                    </p>
                    -->
                </div>

                <div flex layout="row" layout-align="space-around" layout-align-xs="center center" layout-wrap anima-data="down">
                    <!--- card --->
                    <div md-whiteframe="5" layout="column" flex="50" class="card">
                        <div layout="row" layout-align="start center" class="card-title">
                            <md-icon class="md-accent" md-font-set="fa-solid" md-font-icon="fa-truck-fast"></md-icon>
                            <span flex>Carros e Motos</span>
                        </div>

                        <div layout="column" class="card-content">
                            <p class="big">
                                Transporte ou remoção de automóveis novos, quebrados ou batidos.
                            </p>
                        </div>

                        <!--
                        <div flex layout="row" layout-align="end end" class="btn-produto">
                            <a ui-sref="onboarding" class="btn-card">
                                <div class="btn-border">
                                    <span>Saiba mais</span>
                                    <i class="seta fa-solid fa-arrow-right-long"></i>
                                </div>
                            </a>
                        </div>
                        -->
                    </div>

                    <!--- card --->
                    <div md-whiteframe="5" layout="column" flex="50" class="card">
                        <div layout="row" layout-align="start center" class="card-title">
                            <md-icon class="md-accent" md-font-set="fa-solid" md-font-icon="fa-truck-fast"></md-icon>
                            <span flex>Assistência</span>
                        </div>

                        <div layout="column" class="card-content">
                            <p style="font-weight: 600;">
                                Auto socorro após pane
                            </p>
                            <ul>
                                <li>Pane seca</li>
                                <li>Troca de pneu</li>
                                <li>Carga de bateria</li>
                                <li>Chaveiro</li>
                            </ul>
                        </div>

                        <!--
                        <div flex layout="row" layout-align="end end" class="btn-produto">
                            <a ui-sref="onboarding" class="btn-card">
                                <div class="btn-border">
                                    <span>Saiba mais</span>
                                    <i class="seta fa-solid fa-arrow-right-long"></i>
                                </div>
                            </a>
                        </div>
                        -->
                    </div>

                    <!--- card --->
                    <div md-whiteframe="5" layout="column" flex="50" class="card">
                        <div layout="row" layout-align="start center" class="card-title">
                            <md-icon class="md-accent" md-font-set="fa-solid" md-font-icon="fa-truck-fast"></md-icon>
                            <span flex>Vans e Utilitários leves</span>
                        </div>

                        <div layout="column" class="card-content">
                            <p class="big">
                                Transporte de vans ou utilitários leves com peso máximo de até 3 toneladas.
                            </p>
                        </div>

                        <!--
                        <div flex layout="row" layout-align="end end" class="btn-produto">
                            <a ui-sref="onboarding" class="btn-card">
                                <div class="btn-border">
                                    <span>Saiba mais</span>
                                    <i class="seta fa-solid fa-arrow-right-long"></i>
                                </div>
                            </a>
                        </div>
                        -->
                    </div>

                    <!--- card --->
                    <div md-whiteframe="5" layout="column" flex="50" class="card">
                        <div layout="row" layout-align="start center" class="card-title">
                            <md-icon class="md-accent" md-font-set="fa-solid" md-font-icon="fa-truck-fast"></md-icon>
                            <span flex>Máquinas</span>
                        </div>

                        <div layout="column" class="card-content">
                            <p class="big">
                                Transporte de empilhadeiras, geradores com peso máximo de até 3 toneladas.
                            </p>
                            <p>
                            </p>
                        </div>

                        <!--
                        <div flex layout="row" layout-align="end end" class="btn-produto">
                            <a ui-sref="onboarding" class="btn-card">
                                <div class="btn-border">
                                    <span>Saiba mais</span>
                                    <i class="seta fa-solid fa-arrow-right-long"></i>
                                </div>
                            </a>
                        </div>
                        -->
                    </div>

                    <!--- card --->
                    <div md-whiteframe="5" layout="column" flex="100" class="card">
                        <div layout="row" layout-align="start center" class="card-title">
                            <md-icon class="md-accent" md-font-set="fa-solid" md-font-icon="fa-truck-fast"></md-icon>
                            <span flex>Coleta em leilões</span>
                        </div>

                        <div layout="column" class="card-content">
                            <p style="font-weight: 600;">
                                Leilões antedidos
                            </p>
                            <ul>
                                <li class="">Leilão Copart (Itaquaquecetuba)</li>
                                <li class="">Leilão Copart (Osasco) </li>
                                <li class="">Leilão Freitas Leiloeiro (Santo André)</li>
                                <li class="">Leilão Sodré Santoro (Guarulhos)</li>
                                <li class="">Leilão Super Brid (Suzano)</li>
                            </ul>
                        </div>

                        <!--
                        <div flex layout="row" layout-align="end end" class="btn-produto">
                            <a ui-sref="onboarding" class="btn-card">
                                <div class="btn-border">
                                    <span>Saiba mais</span>
                                    <i class="seta fa-solid fa-arrow-right-long"></i>
                                </div>
                            </a>
                        </div>
                        -->
                    </div>

                    <!--- card vazio para completar layout--->
                    <div ng-if="false" layout="column" flex="50" hide-md hide-xs class="card" style="background-color: transparent !important;">

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div layout="row" layout-align="center center" flex class="content-regioes">
        <section id="solucoes" class="wrapper" flex layout="row" layout-align="start center">
            <div layout="column" flex>
                <h2>Regiões atendidas</h2>
                <div flex layout="row" layout-sm="column" layout-xs="column" layout-align="space-between">
                    <div flex-gt-sm="33" layout-align="center center" class="content">
                        <h3>
                            Grande ABC:
                        </h3>
                        <ul class="md-body-1">
                            <li>Diadema</li>
                            <li>Mauá</li>
                            <li>Ribeirão Pires</li>
                            <li>Rio Grande da Serra</li>
                            <li>São Caetano do Sul</li>
                            <li>São Bernardo do Campo</li>
                        </ul>
                    </div>

                    <div flex-gt-sm="33" layout-align="center center" class="content">
                        <h3>
                            Zona Leste:
                        </h3>
                        <ul class="md-body-1">
                            <li>Água Rasa</li>
                            <li>Anália Franco</li>
                            <li>Arincaduva</li>
                            <li>Belém</li>
                            <li>Carrão</li>
                            <li>Mooca</li>
                            <li>Parque São Lucas</li>
                            <li>Penha</li>
                            <li>Ponte Rasa</li>
                            <li>Tatuapé</li>
                            <li>Vila Alpinha</li>
                            <li>Vila Califórnnia</li>
                            <li>Vila Gomes Cardim</li>
                            <li>Vila Formmosa</li>
                            <li>Vila Zelina</li>
                        </ul>
                    </div>

                    <div flex-gt-sm="33" layout-align="center center" class="content">
                        <h3>
                            Centro:
                        </h3>
                        <ul class="md-body-1">
                            <li>Aclimação</li>
                            <li>Barra Funda</li>
                            <li>Bela Vista</li>
                            <li>Bom Retiro</li>
                            <li>Brás</li>
                            <li>Cambuci</li>
                            <li>Consolação</li>
                            <li>Glicério</li>
                            <li>Higienópolis</li>
                            <li>Liberdade</li>
                            <li>Lins de Vasconcelos</li>
                            <li>Parque Dom Pedro</li>
                            <li>Repúplica</li>
                            <li>Santa Cecília</li>
                            <li>Santa Efigênia</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div layout="row" layout-align="center center" flex class="content-pagamentos">
        <section id="pagamentos" class="wrapper" flex layout="row" layout-align="start center">
            <div layout="column" flex>
                <div flex layout="column" layout-align="center center" layout-align-xs="center center">
                    <h2>Formas de pagamento</h2>
                    <p>
                        Pague via PIX, <span style="font-weight: 600;">também aceitamos cartões!</span>
                    </p>
                </div>
                <div class="forma-pag" flex layout="row" layout-wrap layout-align="space-between" layout-padding>
                    <div layout="column" flex-gt-sm="" flex-xs="50" layout-align="center center" class="content">
                        <div class="item" layout="column" layout-align="center center">
                            <md-icon md-font-set="fa-brands" md-font-icon="fa-pix"></md-icon>
                        </div>
                    </div>

                    <div layout="column" flex-gt-sm="" flex-xs="50" layout-align="center center" class="content">
                        <div class="item" layout="column" layout-align="center center">
                            <md-icon md-font-set="fa-brands" md-font-icon="fa-cc-visa"></md-icon>
                        </div>
                    </div>

                    <div layout="column" flex-gt-sm="" flex-xs="50" layout-align="center center" class="content">
                        <div class="item" layout="column" layout-align="center center">
                            <md-icon md-font-set="fa-brands" md-font-icon="fa-cc-mastercard"></md-icon>
                        </div>
                    </div>

                    <div layout="column" flex-gt-sm="" flex-xs="50" layout-align="center center" class="content">
                        <div class="item" layout="column" layout-align="center center">
                            <md-icon md-font-set="fa-brands" md-font-icon="fa-cc-diners-club"></md-icon>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--
    <div ng-if="vm.notif" id="notification" class="cookie-wrapper cookie" layout="row" layout-xs="column" layout-align="space-between center" layout-padding>
        <span>
            Este site salva seu histórico de uso.
            Ao continuar navegando você concorda com a política de
            <a class="botao" target="_blank" href="" title="Cookies" ng-click="vm.cookies()">
                <span class="botao-texto links-notif">cookies</span>
            </a>
            e
            <a class="botao" target="_blank" ng-href="assets/docs/politica_de_privacidade.pdf" title="Privacidade" ng-click="">
                <span class="botao-texto links-notif">privacidade.</span>
            </a>
        </span>
        <div>
            <md-button class="md-raised md-primary" ng-click="vm.notif = !vm.notif">
                Aceitar termos de privacidade
            </md-button>
        </div>
    </div>
    -->
</div>

<div class="whatsapp-float">
    <md-button class="md-fab" aria-label="Whatsapp" ng-click="vm.whatsapp()">
        <md-icon md-font-set="fa-brands" md-font-icon="fa-whatsapp"></md-icon>
    </md-button>
</div>

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
-->