<div layout="column" layout-align="center center" flex class="content-cookies">
    <section id="" class="wrapper" flex layout="column" layout-sm="column" layout-xs="column" layout-align="space-between">

        <div flex="45" flex-sm="100" flex-xs="100" layout="row" layout-align="end start" layout-align-sm="center center" layout-align-xs="center center" flex-order-sm="-1" flex-order-xs="-1">
            <div layout="column">
                <h2>
                    Sobre uso de cookies
                </h2>
                <h3>
                    E afinal o que são esses cookies?
                </h3>
                <p class="md-body-1">
                    Esses cookies que estamos falando não são aqueles biscoitos americanos deliciosos, mas são muito bons também.
                    Tratam-se de arquivos criados pelos websites que armazenam hábitos de navegação e outras informações, ajudando a personalizar seu acesso.
                </p>
                <p class="md-body-1">
                    <b>Como isso funciona na prática?</b>
                    <br>
                    Imagine um restaurante que você vai com frequência.
                    Ao entrar pela porta, você é levado à sua mesa preferida, o seu suco e o seu prato predileto são servidos e, para finalizar, aquele cafézinho forte. Ao sair, seu carro já está lá na porta te esperando.
                    Tudo isso sem você ter que fazer nada.
                </p>
                <p class="md-body-1">
                    Os cookies funcionam mais ou menos assim, prevendo suas preferências e escolhas.
                    Ajudando a tornar a sua experiência de navegação a mais agradável possível.
                </p>
            </div>
        </div>

        <span flex="5"></span>

        <div flex="45" flex-sm="100" flex-xs="100" layout="row" layout-align="end start" layout-align-sm="center center" layout-align-xs="center center" flex-order-sm="-1" flex-order-xs="-1">
            <div layout="column">
                <h2>

                </h2>
                <h3>
                    Quais os tipos de cookies?
                </h3>
                <div layout-gt-sm="column">

                    <md-divider></md-divider>

                    <div>
                        <span class="md-body-1">
                            <br>Geolocalização
                        </span>
                    </div>
                    <div>
                        <p class=" md-body-1">
                            Esses cookies indicam sua localização. De qual país ou região você está navegando.
                            Afinal, se você estiver na Bahia, provavelmente não terá interesse em receber um anúncio de botas de esqui.
                        </p>
                    </div>

                    <md-divider></md-divider>

                    <div>
                        <span class="md-body-1">
                            <br>Interações de Pesquisa
                        </span>
                    </div>
                    <div>
                        <p class=" md-body-1">
                            Cookies podem guardar também informações preenchidas em formulários e pesquisas.
                            Por exemplo, quando você buscar por uma de nossas agências podemos salvar seu Estado e sua cidade para uma pesquisa futura.
                        </p>
                    </div>

                    <md-divider></md-divider>

                    <div>
                        <span class="md-body-1">
                            <br>Publicidade
                        </span>
                    </div>
                    <div>
                        <p class=" md-body-1">
                            Não é muito bom saber qual foi o último anúncio que você viu para não repetir, ou aquele que não interessa a você para que não seja mais exibido?
                            Esses cookies identificam suas preferências e exibem conteúdo publicitário a partir das suas preferências. Se você pesquisou sobre meias coloridas divertidas, verá um anúncio sobre isso.
                        </p>
                    </div>

                    <md-divider></md-divider>

                    <div>
                        <span class="md-body-1">
                            <br>Cookies de outros sites e empresas
                        </span>
                    </div>
                    <div>
                        <p class=" md-body-1">
                            Para que funcionem melhor, os cookies transitam entre diferentes empresas.
                            Nós usamos nossos cookies em outros sites e permitimos também que parceiros utilizem cookies em nosso portal, sempre tendo o maior cuidado com sua privacidade e segurança.
                        </p>
                    </div>

                    <md-divider></md-divider>
                </div>
            </div>
        </div>
    </section>

    <span flex="5"></span>

    <section id="" class="wrapper" flex layout="column" layout-sm="column" layout-xs="column" layout-align="space-between">

        <div flex="45" flex-sm="100" flex-xs="100" layout="row" layout-align="end start" layout-align-sm="center center" layout-align-xs="center center" flex-order-sm="-1" flex-order-xs="-1">
            <div layout="column">
                <h3>
                    E não é perigoso ter minhas informações armazenadas?
                </h3>
                <p class="md-body-1">
                    Não é perigoso.
                    Todas as suas informações coletadas em nosso site, como número de conta, senhas e outras, são protegidas por nosso sistema de segurança certificado.
                </p>
                <p class="md-body-1">
                    <b>Como isso funciona na prática?</b>
                    <br>
                    Imagine um restaurante que você vai com frequência.
                    Ao entrar pela porta, você é levado à sua mesa preferida, o seu suco e o seu prato predileto são servidos e, para finalizar, aquele cafézinho forte. Ao sair, seu carro já está lá na porta te esperando.
                    Tudo isso sem você ter que fazer nada.
                </p>
                <p class="md-body-1">
                    Os cookies funcionam mais ou menos assim, prevendo suas preferências e escolhas.
                    Ajudando a tornar a sua experiência de navegação a mais agradável possível.
                </p>

                <h3>
                    Não gosto de cookies, como faço para desativá-los?
                </h3>
                <p class="md-body-1">
                    É possível desativar os cookies por meio das preferências do seu navegador.
                    <br>Sem eles sua navegação pode se tornar limitada e algumas funcionalidades dos sites podem ficar comprometidas.
                    <br>Veja as definições sobre cookies em cada um dos navegadores
                    <a ng-href="https://privacy.microsoft.com/pt-BR/windows-10-microsoft-edge-and-privacy" target="_blank">Internet Explorer</a> /
                    <a ng-href="https://support.mozilla.org/pt-BR/kb/desative-cookies-no-firefox-parar-rastreamento" target="_blank">Firefox</a> /
                    <a ng-href="https://support.google.com/accounts/answer/61416?hl=pt-BR" target="_blank">Google Chrome</a> /
                    <a ng-href="https://support.apple.com/kb/PH21411?viewlocale=pt_BR&locale=en_US" target="_blank">Safari</a>
                </p>
            </div>
        </div>
    </section>
</div>